<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v7ench.kiyo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".global.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddDoctor"
            android:label="@string/title_activity_add_doctor"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".AddClinic"
            android:label="@string/title_activity_add_clinic"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".ColorPickerActivity"
            android:label="Colour Picker"
            android:parentActivityName=".scanneracti.TstScan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scanneracti.TstScan" />
        </activity>
        <activity
            android:name=".SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="swarajsaaj.smscodereader.receivers.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".scanneracti.TstScan"
            android:label="@string/title_activity_tst_scan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Forgotpass1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanAttach"
            android:label="@string/title_activity_scan_attach"
            android:parentActivityName=".scanneracti.TstScan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.scanneracti.TstScan" />
        </activity>
        <activity
            android:name=".TstScanResult"
            android:label="@string/title_activity_tst_scan_result"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".BioTestScan"
            android:label="@string/title_activity_bio_test_scan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".BiotestResult"
            android:label="@string/title_activity_biotest_result"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".TstResult"
            android:label="@string/title_activity_tst_result"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Biotestres"
            android:label="@string/title_activity_biotestres"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Settingsall"
            android:label="@string/title_activity_settingsall"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".tstresultview"
            android:label="@string/title_activity_tstresultview"
            android:parentActivityName=".TstResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.TstResult" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".BiotestNew"
            android:label="@string/title_activity_biotest_new"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Biotestprofile"
            android:label="@string/title_activity_biotestprofile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Clinic_new"
            android:label="@string/title_activity_clinic_new"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Strat_test_test"
            android:label="@string/title_activity_strat_test_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Strart_Bi_test"
            android:label="@string/title_activity_strart__bi_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".Scan_history_all"
            android:label="@string/title_activity_scan_history_all"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
        <activity
            android:name=".About_Us"
            android:label="@string/title_activity_about__us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.kiyo.MainActivity" />
        </activity>
    </application>

</manifest>